= form_tag({controller: "questions", action: "new"}, method: "get") do
  .form-group
    = text_area(:question, :body, size: "30x4",
      value: "#{@previous_question.nil? ? "" : @previous_question.body}",
      class: "form-control")
  .form-group
    = submit_tag('Show result', class: "btn btn-success")
